.banner{background-color:darkslateblue;color:black; height:200px; width:100%; margin-bottom:50px;}
banner-text{ position:absolute; transform:transform;display:flex; justify-content:center;}
h1{line-height:200px;text-align:center;}